*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

# TTS models
*.onnx
espeak-ng-data/
espeak-ng-data.tar.bz2
*.tar.bz2
tts_models/

# Local
local.properties
*.local.properties

# iOS
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/Pods/
DerivedData/
*.xcuserstate

# Secrets
google-services.json
*.keystore
*.jks

# iOS Frameworks
iosApp/Frameworks/sherpa-onnx.xcframework/
iosApp/Frameworks/onnxruntime.xcframework/
iosApp/Frameworks/build-ios/

# Android release artefacts
composeApp/release/